body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-text-color);
}

h2 {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-text-color);
}

h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-text-color);
}

h4 {
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-text-color);
}

button {
  height: 35px;
  width: 135px;
  background-color: var(--accent-color);
  color: var(--black-color);
  border-radius: 30px;
  border: transparent;
  
  font-weight: 700;

  &:hover, 
  &:focus {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
  }
}



// h2 {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.35;
//   text-align: center;
//   letter-spacing: 0.03em;

//   color: var(--title-text-color);
// }

// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;

//   @include desktop {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }
// }
