.aboveTheSea__container {
  height: 1000px;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 50px;

  @include tablet {
    height: 800px;
    gap: 115px;
  }

  @include desktop {
    height: 650px;
  }
}

.aboveTheSea__image {
  width: 200px;
  height: 200px;
  margin-top: 18px;

  @include tablet {
    width: 300px;
    height: 300px;
  }

  @include desktop {
    width: 600px;
    height: 600px;
  }
}

.aboveTheSea__div {
  width: 460px;
  height: 650px;
}

.aboveTheSea__title {
  width: 220px;
  margin-bottom: 60px;
}

.aboveTheSea__paragraph-first {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 60px;
}

.aboveTheSea__paragraph-second {
  margin-bottom: 30px;
}

.aboveTheSea__paragraph-third {
  margin-bottom: 30px;
}

.aboveTheSea__slider {
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: end;
  margin-right: 28px;

  @include desktop {
    margin-right: 115px;
  }
}

.prev-button svg,
.next-button svg {
  display: block;
  margin: auto;
}

.prev-button,
.next-button {
  width: 35px;
  height: 35px;
  margin-right: 12px;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    border: transparent;
  }
}