.aboveTheSea__container {
  height: 1000px;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 115px;
}

.aboveTheSea__image {
  width: 600px;
  height: 600px;
  margin-top: 18px;
}

.aboveTheSea__div {
  width: 460px;
  height: 650px;
}

.aboveTheSea__title {
  width: 220px;
}