.mountains_section {
  height: 2700px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/night_desert.jpg');

  padding-top: 100px;
  padding-left: 30px;
  padding-right: 28px;

  @include tablet {
    height: 2100px;
    padding-left: 100px;
  }

  @include desktop {
    height: 1500px;
    padding-left: 270px;
    padding-right: 115px;
  }
}

.mountains_text {
  display: block;
  width: 365px;
  margin-bottom: 55px;
}

.mountains_item {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--secondary-text-color);
}

.mountains_information {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  margin-right: 100px;

  @include tablet {
    margin-right: 180px;
  }
}

.mountains_image {
  width: 200px;
  height: 200px;

  @include tablet {
    width: 270px;
    height: 270px;
  }
}